.ui {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
   display:flex;
   flex-direction: column;
}

.row {
    display: flex;
}

.square-div {
    border: 1px solid gray; 
}
